.set_icon{
    width: 27px;
    height: 27px;
    display: block;
    background: url(../../../assets/imgs/Setting_icon.svg) no-repeat center center;
    background-size:75%;
    margin-right:10px ;
}
.team_icon{
    width: 27px;
    height: 27px;
    display: block;
    background: url(../../../assets/imgs/Team_icon.svg) no-repeat;
    background-size:75%;
    margin-right:10px ;
}
.tranin_icon{
    width: 27px;
    height: 27px;
    display: block;
    background: url(../../../assets/imgs/Training_Course_icon.svg) no-repeat;
    background-size:75%;
    margin-right:10px ;
}
.match_icon{
    width: 27px;
    height: 27px;
    display: block;
    background: url(../../../assets/imgs/correct_icon.svg) no-repeat;
    background-size:65%;
    margin-right:10px ;
}
.search_icon{
    width: 27px;
    height: 27px;
    display: block;
    background: url(../../../assets/imgs/correct_icon.svg) no-repeat;
    background-size:65%;
    margin-right:10px ;
}
